.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
}
.checkout__left {
  display: flex;
  flex-direction: column;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 20px;
}
.checkout__title {
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid lightgray;
}
